@font-face{
    font-family: "roboto-regular";
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: "roboto-bold";
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}